/* document outline ----------------------------------------- */
/* Designed by (C)hinacoppy 2018 -- 2024                      */

/* document outline ----------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
input,select{
  font-size:100%;
}
html{
  height:100vmin;
  overflow:hidden;
  overscroll-behavior:none; /* バウンススクロールを抑止 */
}
body{
  margin:0;
  padding:0;
  min-height:100vmin;
  height:100vmin;
  font-family:'Arial', 'Meiryo UI';
  background-color:var(--body-bg-color);
}
@font-face{
  /* https://www.keshikan.net/fonts.html */
  font-family:'DSEG7-Classic';
  src:url(../webfonts/DSEG7Classic-BoldItalic.woff);
}
a{
  color:inherit;
  text-decoration:none;
}
button{
  padding:0;
}
div{
  position:relative;
}
.article{
  /* 子要素(設定画面)を水平・垂直方向の中央揃え */
  display:flex;
  justify-content:center;
  align-items:center;
}
@media screen and (orientation:portrait) {
.article{ /* 縦画面の時は横向きに表示し、横画面にするよう促す */
  width:100vh;
  height:100vw;
  margin:-100vw 0 100vh;
  transform:rotate(90deg);
  transform-origin:left bottom;
}}

/* Grid Layout settings ------------------------------------- */
/* 横画面基準の相対サイズにし、レスポンシブ対応可能にしておく */
#mainwindow{
  display:grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns:50vmax 50vmax;
  grid-template-rows:30vmin 58vmin 9vmin; /* ボタン下に隙間を空けるため、敢えて100vminにしない */
  grid-template-areas:
     'score1 score2'
     'clock1 clock2'
     'pausebtn settingbtn';
  align-items:center; /* 子アイテムはデフォで上下左右に中央揃え */
  justify-items:center;
  padding-top:1vmin;
}
#score1{
  grid-area:score1;
  align-self:start; /* 上揃え */
}
#score2{
  grid-area:score2;
  align-self:start; /* 上揃え */
}
#matchinfo{
  grid-area:1/1/2/3;
  align-self:start; /* 上揃え */
}
#crawfordinfo{
  grid-area:1/1/2/3;
  align-self:start; /* 上揃え */
}
#clock1{
  grid-area:clock1;
}
.digital #clock1{
  justify-self:left; /* 左寄せ */
}
#clock2{
  grid-area:clock2;
}
.digital #clock2{
  justify-self:right; /* 右寄せ */
}
#delay{
  grid-area:2/1/3/3;
  align-self:start; /* 上寄せ */
}
#delay1{
  grid-area:clock1;
}
#delay2{
  grid-area:clock2;
}
#pauseinfo{
  grid-area:2/1/3/3; /* クロックの中央に配置 */
}
.digital #pausebtn{
  grid-area:pausebtn;
}
.analog #pausebtn{
  grid-area:3/1/4/3;
  z-index:3; /* .tebanより下に */
}
#settingbtn{
  grid-area:settingbtn;
}
.analog #settingbtn{
  justify-self:right;
  margin-right:2vmax;
}
/* object decorations ------------------------------------- */
.digital .clock{
  font-family:'DSEG7-Classic', 'Arial Black', 'Meiryo UI';
  margin:2vmin 1vmax;
  padding:5vmin 0;
}
.analog .clock{
  display:flex; /* canvasを中央寄せ */
  align-items:center;
  justify-content:center;
  width:50vmax;
  height:58vmin; /* grid-template-rowsに合わせる */
}
.digital .delay{
  font-size:10vmax;
  background-color:rgba( 192, 192, 192, 0.7 );
  width:15vmax;
  text-align:center;
  z-index:7; /* .tebanより上に */
  pointer-events:none; /* タップイベントを無効化(下に透過) */
}
.analog .delay{
  width:20vmin; /* 正円で表示 */
  height:20vmin;
  z-index:7; /* .tebanより上に、.pauseinfoより下に */
}
.oparationbtn{
  padding:2vmin 4vmax;
  border:4px solid;
  border-radius:4vmax;
  margin-top:1vmin;
  display:inline-block;
  font-size:2vmax;
}
.btnenable{
  background-color:var(--btn-enable);
  border-color:var(--btn-frame-enable);
  color:var(--btn-frame-enable);
}
.btndisable{
  background-color:var(--btn-disable);
  border-color:var(--btn-frame-disable);
  color:var(--btn-frame-disable);
}
.pauseinfo{
  font-size:8vmax;
  z-index:10;
  padding:1vmin 2vmax;
  border:5px solid;
  border-radius:3vmax;
  background-color:var(--pause-bg-color);
  background-color:rgba( 128, 128, 128, 0.70 );
  color:var(--pause-fg-color);
}
.teban{
  z-index:5;
}
.digital .teban{
  font-size:18vmax;
  background-color:var(--clock-fg-color);
}
.noteban{
}
.digital .noteban{
  font-size:10vmax;
  background-color:var(--clock-bg-color);
}
.teban_pause{
  z-index:3; /* スコアカードより上に */
}
.digital .teban_pause{
  font-size:14vmax;
  background-color:var(--clock-bg-color);
}
.timeupLose{
  color:var(--lose-info-color);
}
/* toggle switch ----------------------------------------- */
/* (参考) https://www.w3schools.com/howto/howto_css_switch.asp */
.switch{
  position:relative;
  display:inline-block;
  width:3em;
  height:7vmin; /* #settingwindow tr に合わせる */
  background-color:var(--slider-bg);
  margin-right:2em;
}
.switch input{
  display:none;
}
.slider{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transition:.3s;
  border-radius:5vmin; /* Rounded sliders */
  background-color:var(--slider-fg);
}
.slider:before{
  position:absolute;
  content:"";
  height:5vmin;
  width:5vmin; /* 正円にするために height == width とする */
  left:1vmin;
  bottom:1vmin; /* height + bottom * 2 = .switch height となるよう計算 */
  transition:.3s;
  border-radius:50%;
  background-color:var(--slider-btn);
}
input:checked + .slider{
  background-color:var(--slider-checked);
}
input:checked + .slider:before{
  transform:translateX(1.2em);
}
/* Segmented Control ----------------------------------------- */
/* (参考) https://ginpen.com/2012/12/11/segmented-control/ */
.segmented{
  display:inline-block;
}
.segmented .label{
  border:1px solid;
  float:left;
  padding:0em 0.5em;
  text-align:center;
  width:12vmax;
  background-color:var(--segmented-disable-bg);
  border-color:var(--segmented-frame);
  color:var(--segmented-disable-fg);
}
.segmented input{
  display:none;
}
.segmented input:checked + .label{
  background-color:var(--segmented-enable-bg);
  color:var(--segmented-enable-fg);
}
/* Flip Card styles ------------------------------------- */
.cardcontainer{
  position:relative;
  width:18vmax;
  height:28vmin;
}
.card{
  position:absolute;
  width:18vmax;
  height:28vmin;
  line-height:28vmin;
  border-radius:20px;
  text-align:center;
  font-size:10vmax;
  transform-style:preserve-3d;
  background-color:var(--score-bg-color);
}
.curr{
  transform:perspective(1500px) rotateX(0deg);
}
.next{
  transform:perspective(1500px) rotateX(90deg);
  display:none;
}
.prev{
  transform:perspective(1500px) rotateX(-90deg);
}
.flipup90{
  transform:perspective(1500px) rotateX(-90deg);
  transition:ease-out 0.3s transform;
}
.flipdn90{
  transform:perspective(1500px) rotateX(90deg);
  transition:ease-out 0.3s transform;
}
.flipdn0{
  transform:perspective(1500px) rotateX(0deg);
  transition:ease-out 0.3s transform;
}
.flipup0{
  transform:perspective(1500px) rotateX(0deg);
  transition:ease-out 0.3s transform;
}
/* Setting Window Flip settings ------------------------------------- */
.mainwin{
  transform-style:preserve-3d;
  transform:perspective(1500px) rotateY(0deg);
  transition:ease-out 0.3s transform;
}
.setting{
  transform-style:preserve-3d;
  transform:perspective(1500px) rotateY(90deg);
  transition:ease-out 0.3s transform;
}
.fliphoriz90{
  transform:perspective(1500px) rotateY(-90deg);
  transition:ease-out 0.3s transform;
}
.fliphoriz0{
  transform:perspective(1500px) rotateY(0deg);
  transition:ease-out 0.3s transform;
}
/* Setting Window decorations ------------------------------------- */
#settingwindow{
  position:absolute;
  top:0;
  margin-top:5vmin;
  background-color:var(--setting-bg-color);
  border:3px solid var(--setting-frame);
  font-size:2vmax;
  padding:5vmin 5vmax;
  display:none;
}
.settingtitle{
  font-size:2.2vmax;
  padding:2vmin 2vmax;
  margin-bottom:2vmin;
  color:var(--segmented-enable-fg);
  background-color:var(--segmented-enable-bg);
}
#settingwindow select{
  font-size:100%;
  padding:0 0.3vmax;
  margin:0 1vmax;
  text-align:center;
  /*appearance:none; /* 選択の下三角を表示しない */
}
#settingwindow tr{
  height:7vmin;
  line-height:7vmin;
}
/* Scorecard Contents decorations ------------------------------------- */
#matchinfo{
  width:10vmax;
  height:15vmin;
  line-height:15vmin;
  text-align:center;
  font-size:5vmax;
  border-radius:20px;
  background-color:var(--match-bg-color);
}
#crawfordinfo{
  font-size:3vmax;
  text-align:center;
  padding-top:15vmin; /* matchinfoを避けて表示 */
}
/* Theme Color Definition ------------------------------------- */
.cool{
  --body-bg-color:       #efe;
  --clock-fg-color:      #ffa;
  --clock-bg-color:      #999;
  --score-bg-color:      #ddf;
  --match-bg-color:      #dfa;
  --btn-enable:          #adf;
  --btn-frame-enable:    #29f;
  --btn-disable:         #ddd;
  --btn-frame-disable:   #aaa;
  --pause-bg-color:      #dfd;
  --pause-fg-color:      #0ff;
  --lose-info-color:     #f00;
  --setting-bg-color:    #dff;
  --setting-frame:       #00f;
  --setting-title:       #adf;
  --slider-bg:           #dff;
  --slider-fg:           #999;
  --slider-checked:      #29f;
  --slider-btn:          #fff;
  --segmented-disable-bg:#eee;
  --segmented-frame:     #ccc;
  --segmented-disable-fg:#666;
  --segmented-enable-bg: #29f;
  --segmented-enable-fg: #fff;
}
.warm{
  --body-bg-color:       #fee;
  --clock-fg-color:      #ffa;
  --clock-bg-color:      #c95;
  --score-bg-color:      #fbb;
  --match-bg-color:      #ffb;
  --btn-enable:          #dc9;
  --btn-frame-enable:    #932;
  --btn-disable:         #ddd;
  --btn-frame-disable:   #aaa;
  --pause-bg-color:      #fdd;
  --pause-fg-color:      #ff0;
  --lose-info-color:     #f00;
  --setting-bg-color:    #ffd;
  --setting-frame:       #f22;
  --setting-title:       #dc9;
  --slider-bg:           #ffd;
  --slider-fg:           #bbb;
  --slider-checked:      #932;
  --slider-btn:          #fff;
  --segmented-disable-bg:#eee;
  --segmented-frame:     #ccc;
  --segmented-disable-fg:#666;
  --segmented-enable-bg: #932;
  --segmented-enable-fg: #fff;
}
.mono{
  --body-bg-color:       #eee;
  --clock-fg-color:      #fff;
  --clock-bg-color:      #ccc;
  --score-bg-color:      #ccc;
  --match-bg-color:      #bbb;
  --btn-enable:          #bbb;
  --btn-frame-enable:    #444;
  --btn-disable:         #ddd;
  --btn-frame-disable:   #aaa;
  --pause-bg-color:      #ddd;
  --pause-fg-color:      #fff;
  --lose-info-color:     #f00;
  --setting-bg-color:    #ddd;
  --setting-frame:       #444;
  --setting-title:       #bbb;
  --slider-bg:           #ddd;
  --slider-fg:           #bbb;
  --slider-checked:      #444;
  --slider-btn:          #fff;
  --segmented-disable-bg:#eee;
  --segmented-frame:     #ccc;
  --segmented-disable-fg:#666;
  --segmented-enable-bg: #444;
  --segmented-enable-fg: #fff;
}
